<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>emumom.png</key>
	<dict>
		<key>dying</key>
		<dict>
			<key>time</key>
			<string>100,100,100,100,100,100</string>
			<key>anim</key>
			<string>0,12,6,0,12,6</string>
		</dict>
		<key>anchor</key>
		<string>44,9</string>
		<key>idle</key>
		<dict>
			<key>anim</key>
			<string>1</string>
			<key>time</key>
			<string>1000</string>
		</dict>
		<key>idle-up</key>
		<dict>
			<key>anim</key>
			<string>1</string>
			<key>time</key>
			<string>1000</string>
		</dict>
		<key>idle-right</key>
		<dict>
			<key>anim</key>
			<string>1</string>
			<key>flipHorizontal</key>
			<true/>
			<key>time</key>
			<string>1000</string>
		</dict>
		<key>idle-left</key>
		<dict>
			<key>time</key>
			<string>1000</string>
			<key>anim</key>
			<string>1</string>
		</dict>
		<key>walkup</key>
		<dict>
			<key>time</key>
			<string>100,100,100,100,100</string>
			<key>anim</key>
			<string>0,1,2,3,4</string>
		</dict>
		<key>walkdown</key>
		<dict>
			<key>time</key>
			<string>100,100,100,100,100</string>
			<key>anim</key>
			<string>0,1,2,3,4</string>
		</dict>
		<key>walkleft</key>
		<dict>
			<key>anim</key>
			<string>0,1,2,3,4</string>
			<key>time</key>
			<string>100,100,100,100,100</string>
		</dict>
		<key>walkright</key>
		<dict>
			<key>flipHorizontal</key>
			<true/>
			<key>anim</key>
			<string>0,1,2,3,4</string>
			<key>time</key>
			<string>100,100,100,100,100</string>
		</dict>
		<key>frameCount</key>
		<integer>5</integer>
	</dict>
	<key>Blue_gem.png</key>
	<dict>
		<key>anchor</key>
		<string>0,0</string>
		<key>idle</key>
		<dict>
			<key>anim</key>
			<string>1</string>
			<key>time</key>
			<string>1000</string>
		</dict>
		<key>frameCount</key>
		<integer>1</integer>
	</dict>
</dict>
</plist>
